<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Growl HTTP Proxy</title>
	<style type="text/css">
		section {
			width: 960px;
			margin: auto;
		}
		label {
			width: 100px;
			display: block;
			float: left;
		}
	</style>
</head>
<body>
	<section>
		<form method="post" action="{{ url_for('send') }}">
			<p><label for="title">Title:</label> <input type="text" name="title" id="title">
			<p><label for="message">Message:</label>
				<textarea name="message" id="message" cols="30" rows="10"></textarea>
			<p><label for="priority">Priority:</label>
				<select name="priority" id="priority">
					<option value="-2">-2</option>
					<option value="-1">-1</option>
					<option value="0">0</option>
					<option value="1" selected="selected">1</option>
					<option value="2">2</option>
				</select>
			<p><label for="sticky">Sticky:</label>
				<input type="checkbox" name="sticky" id="sticky">
			<p><input type="submit" value="Send">
		</form>
	</section>
</body>
</html>